.nav a {
  font-family: "Open Sans", sans-serif;
}
.nav a.active {
  color: red;
}
.header-color {
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  z-index: 9999;
  display: flex !important;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  font-family: "Open Sans", sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 50px;
  color: white;
}

.experience-grid {
  background: white; /* fallback for old browsers */

  text-align: center;
  font-family: "Open Sans", sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 50px;
  color: black;
}
.mdl-card {
  z-index: 0;
}
.active a {
  color: red;
}
.experience-grid h3 {
  color: #f5a623;
  font-weight: 700;
  font-size: 24px;
}
.experience-grid h4 {
  color: #555;
  font-weight: 700;
  font-size: 18px;
}

.experience-grid p {
  font-size: 18px;
  font-weight: 300;
  color: #555;
}

.category-tabs {
  padding: 50px;
}
.nav-item > .active {
  border-bottom: 1px solid #333;
}
.avatar-image {
  height: 250px;
  border-radius: 50%;
  margin-top: 66px;
}

.banner-text {
  width: 75%;
  margin: auto;
  border-radius: 10px;
  font-family: Raleway, sans-serif;
}

.active {
  background: #fff !important;
  color: #8e45ae !important;

  border-radius: 5px !important;
  -webkit-animation: grow 0.25s ease !important;
  animation: grow 0.25s ease;
}
.active .fa {
  color: purple !important;
  border: 0px;
  box-shadow: 0px 0px 0px #888;
}
.banner-text h1 {
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin: 0.67em 0;
  font-family: Raleway, sans-serif;
}
.banner-text h3 {
  font-weight: 400;
  line-height: 1.1;
  color: white;
  font-size: 24px;
}
i.fa {
  display: inline-block;
  border-radius: 60px;
  border: solid white;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
}
.banner-text hr {
  box-sizing: content-box;
  margin: auto;
  border: 0;
  height: 3px;
  background: #fff;
  width: 30px;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin: 30px auto;
}

.social-links i {
  color: white;
  font-size: 3em;
  padding: 8px;
}
.profile i.fa {
  color: white;
  border: 0px;
  box-shadow: 0px 0px 0px #888;
}
.contact-list i.fa {
  color: white;
  border: 0px;
  box-shadow: 0px 0px 0px #888;
}
.title.fa {
  color: white;
  border: 0px;
  box-shadow: 0px 0px 0px #888;
}
.profile i {
  color: white;
  font-size: 3em;
  padding: 8px;
}

.projects-grid {
  display: flex;
}

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}
.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}
